<p>Got something to say?<br>
<form method="post" action="/comment/<%= @report.id %>">
  <input type="text" name="content">
  <input type="submit" id="submit" value="Comment">
</form>

<p>
<form method="get" action="/home">
  <input type="submit" value="Home" class="btn">
</form>
