<form method="post" action="/report_<%= object %>">
  <input type="hidden" name="time" value="<%= Time.now.strftime("%l:%M %p, %a, %x") %>">
  <input type="submit" id="submit" value="Report <%= object %>" class="btn">
</form>
