<h2>Home</h2>
<p>Train on the Tracks?<br>
  <form method="post" action="/report_train">
    <input value="<%= @time %>">
    <input type="submit" id="submit" value="Report Train">
  </form>

<p>Bridge Up?<br>
  <form method="post" action="/report_bridge">
    <input type="submit" id="submit" value="Report Bridge">
  </form>

<h2>Recent Reports</h2>
<% @bridge_reports.each do |bridge_report| %>
  <%= bridge_report.time %>
<% end %>
