<h2>Home</h2>

<p>Bridge Up?<br>
  <form method="post" action="/report_bridge">
    <input type="hidden" name="time" value="<%= Time.new.strftime("%A, %B %d, %Y %l:%M %p %Z") %>">
    <input type="submit" id="submit" value="Report Bridge">
  </form>

<p>Train on the Tracks?<br>
  <form method="post" action="/report_train">
    <input type="submit" id="submit" name="time" value="Report Train">
  </form>

<p><form method="get" action="/logout">
  <input type="submit" value="Logout">
</form>

<h2>Recent Bridge Reports</h2>
<% if @bridge_reports.empty? %>
  <p>All's quiet.
<% end %>

<% @bridge_reports.each do |bridge_report| %>
  <p><div class="test"><%= bridge_report.time %><br></div>
  <% Comment.all.each do |comment| %>
    <% if comment.bridge_report_id == bridge_report.id %>
      <%= current_user.username %> says: <%= comment.content %><br>
    <% end %>
  <% end %>
<% end %>
