<h2>Home</h2>

<p>Bridge Up?<br>
  <form method="post" action="/report_bridge">
    <input type="hidden" name="time" value="<%= Time.now %>">
    <input type="submit" id="submit" value="Report Bridge">
  </form>

<p>Train on the Tracks?<br>
  <form method="post" action="/report_train">
    <input type="submit" id="submit" name="time" value="Report Train">
  </form>

<h2>Recent Bridge Reports</h2>
<% @bridge_reports.each do |bridge_report| %>
  <%= bridge_report.time %><br>

<% end %>
