<h2>Login</h2>

<% if flash.has?(:error) %>
  <%= flash[:error] %><!--make bold and red-->
<% end %>

<form method="post" action"/login">
  <p><label>Username:</label><br>
  <input type="text" name="username">
  <p><label>Password:</label><br>
  <input type="text" name="password"><br>
  <p><input type="submit" id="submit" value="Login" class="btn">
</form>
<p>Don't have an account? <a href="/signup">Sign up.</a>
