<h2>Sign Up</h2>

<form method="post" action="/signup">
  <p><label>Username:</label><br>
  <input type="text" name="username">
  <p><label>Email:</label><br>
  <input type="text" name="email">
  <p><label>Password</label><br>
  <input type="text" name="password">
  <p><input type="submit" id="submit" value="Create Account">
</form>
<p>Already have an account? <a href="/login">Login.</a>
