<!DOCTYPE html>
<link rel="stylesheet" href="/style.css" type="text/css" />
<html>
  <head>
    <meta charset="utf-8">
    <title>Bridge & Train NOLA</title>
  </head>
  <body>
    <h1>Bridge & Train NOLA</h1>
    <%= yield %>
  </body>
</html>
